.idea
.vscode/*
.yarn*
*.log
docker-volumes
.DS_Store
**/*/.idea
**/*/.vscode/*
**/*/.yarn*
**/*/.log
**/*/node_modules
**/*/dist
**/*/coverage
**/*/.nyc_output
**/*/logs
**/*/config/local.json
**/*/deployments/
**/*/jwt-keys/
**/*/docker-volumes
**/*/test-reports
**/*/.DS_Store